.contain{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background: rgb(203, 106, 106);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
p{
    color: white;
    font-size: medium;
    padding: 2px;
}